/**
 * Sidebar rules
 */

/* Sidebar container styles and media queries */
.sidebar {
  margin-left: 25px;
  margin-right: 25px;

  @media (min-width: $small) {
    width: 40%;
    max-width: 40%;
  }

  @media (min-width: $large) {
    width: 33.33%;
    max-width: 33.33%;
  }
}

.sidebar__content {
  @media (min-width: $small) {
    position: sticky;
    top: 0;
    margin-bottom: 2rem;
  }
}

.sidebar__title {
  margin-bottom: .5rem;
  font-family: $font-family-serif;
  text-align: center;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 1.2;
  color: $main-color;

  @media (min-width: $small) {
    text-align: left;
    font-weight: 500;
    font-size: 2rem;
  }

  @media (min-width: size-plus-50px($small)) { font-size: 2.1rem; }
}

.sidebar__p {
  margin-bottom: 1rem;
  text-align: justify;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;

  @media (min-width: $extra-small) {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @media (min-width: $small) {
    margin-left: 0;
    margin-right: 0;
    font-size: .9rem;
  }

  @media (min-width: $medium) { font-size: 1rem; }
}

.sidebar__contact {
  display: flex;
  justify-content: center;
}

.avatar {
  padding: 1rem;
  text-align: center;
}

.avatar__img {
  height: auto;
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
  shape-outside: circle(50%);

  @media (min-width: $small) { max-width: 200px; }

  @media (min-width: $medium) { max-width: 250px; }
}

.contact {
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: .25rem;
  margin-right: .25rem;

  @media (min-width: $extra-small) {
    margin-left: .75rem;
    margin-right: .75rem;
  }

  @media (min-width: $small) {
    margin-left: .3rem;
    margin-right: .3rem;
    margin-bottom: 1rem;
  }
}

.contact__icon {
  margin-left: .6rem;
  margin-right: .6rem;
  font-size: 2rem;
  color: $secondary-color;

  @media (min-width: $small) { font-size: 2.5rem; }

  @media (min-width: size-plus-50px($small)) { font-size: 3rem; }

  &:hover { text-shadow: 5px -5px $text-color; }
}
