/**
 * Main part rules
 */

.main {
  margin-left: 25px;
  margin-right: 25px;

  @media (min-width: $small) {
    margin-left: 0;
    margin-right: 10px;
    width: 60%;
    max-width: 60%;
  }

  @media (min-width: $medium) {
    margin-left: 25px;
    margin-right: 25px;
  }

  @media (min-width: $large) {
    width: 66.67%;
    max-width: 66.67%;
  }
}

.area__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: $font-family-serif;
  text-align: left;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.2;
  color: $main-color;

  @media (min-width: $small) {
    text-align: left;
    font-weight: 500;
    font-size: 1.8rem;
  }
}

.area__list {
  margin-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  list-style-type: none;
  border-left: 3px solid $secondary-color;

  @media (min-width: $large) { margin-left: 3rem; }

  &:last-child { margin-bottom: 2rem; }
}

.area__list__skill {
  margin-bottom: .5rem;
  margin-left: 1rem;
  font-size: .9rem;

  @media (min-width: $medium) { font-size: 1rem; }

  &:last-child { margin-bottom: 0; }
}

.area__list__skill--title {
  color: $secondary-color;

  @media (min-width: $medium) { font-weight: 500; }
}

.area__list__skill--separator { font-weight: 700; }

.area__list__skill--explanation { font-style: italic; }
